.idea/
__pycache__/
*.py[cod]
docs/lcd
dist/
bin/
*.egg-info/
build/
.coverage*
pip-wheel-metadata/
.pytest_cache/
.mypy_cache/
site/
poetry.lock
.venv/
public/
docs/autodocs
.resources.json
tmp/*

*.ansi
# not works on github for the systemctl dbus commands at the end:
# must check it in:
# docs/projects/usage.md.lp.py
