.idea/
__pycache__/
*.py[cod]
docs/lcd
dist/
bin/
*.egg-info/
build/
.coverage*
pip-wheel-metadata/
.pytest_cache/
.mypy_cache/
site/
poetry.lock
.venv/
public/
docs/autodocs
.resources.json
tmp/*
docs/projects/usage.md

docs/install/dev_inst.md
docs/usage/flags.md
docs/usage/images/
docs/usage/proj_inst.md
docs/dev/plugins.md
docs/dev/flags.md
*.ansi
